<h1 mat-dialog-title>{{actionBtn}} запись</h1>
<div mat-dialog-content>
  <form #f="ngForm" [formGroup]="form" autocomplete="off">

    <mat-form-field appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput type="text" formControlName="firstName" placeholder="Поле ввода...">
      <mat-error *ngIf="form.controls['firstName'].errors?.['required']">Заполнение обязательно!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput type="text" formControlName="secondName" placeholder="Поле ввода...">
      <mat-error *ngIf="form.controls['secondName'].errors?.['required']">Заполнение обязательно!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Отчество</mat-label>
      <input matInput type="text" formControlName="patronymic" placeholder="Поле ввода...">
      <mat-error *ngIf="form.controls['patronymic'].errors?.['required']">Заполнение обязательно!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthday">
      <mat-hint>ДД/ММ/ГГГГ</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.controls['birthday'].errors?.['required']">Заполнение обязательно!</mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" (click)="onClose()" mat-dialog-close>Закрыть</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">{{actionBtn}}</button>
</div>
